<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<div class="movie_list">

    <h2> Movies List
    <div class="sign_out_button">
        <button class="btn btn-default">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div> </h2>
    <br> <br>

  <div class="container">

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>  

</div>

<div class="container">

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div>

    <div class="card1">
      <img class="card-img-top" src="assets/kgf.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Find More!</a>
      </div>
    </div> 

</div>
</div>

