  h2{
    text-align: center;
  }

  .sign_out_button{
   padding-left: 1160px;
 }

.container {
    background-color: #131a20
} 
 .card1{
     width:250px;
     float:left;
     padding:25px;
 }

 .card2{
    width:200px;
    float:left;
    padding:10px;
 }

 .card-title,  .card-text {
     color: white;
 }