.logo img {
    float:left;
    padding: 5px;
    padding-left: 60px;
}

.site-title {
    float:left;
    color: white;
    font-weight: bold;
}

.logo{
    padding-bottom:80px;
    padding-left: 40px;
}

.btn {
    margin-right: 10px;
    float: right;
    padding: 50px;
}

.a {
    float:left;
    padding-right:20px;
    padding-bottom:20px;
}

.card-img-top {
    width:10%;
}

